@model TMS1.Models.Allocate

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="CreateAllocation"> Allocation of Route & Vehicle Details</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleInfo.VehicleId) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleInfo.VehicleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteInfo.RouteId) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteInfo.RouteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeInfo.EmployeeID) :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeInfo.EmployeeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AllocatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
