@model IEnumerable<TMS1.Models.Allocate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .homecontent {
        font-family: 'Times New Roman';
        font-size: 30px;
        text-align: center;
        /*background: url("css\ sundra_travels-removebg-preview (1).png") no-repeat;*/
        color: black;
    }

    .Headings {
        font-family: 'Times New Roman';
        text-align: center;
        color: black;
    }

    table, th, td {
        border: 3px solid black !important;
        border-collapse: collapse;
    }
</style>

<div class=" headings container-fluid homecontent">
    <p>
        <b>
            Welcome To Transport Management System
        </b>
    </p>
</div>

<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="align-content:center">
    <table class="table table-bordered" id="allocate">
        <thead>
            <tr>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.EmployeeInfo.EmployeeID)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.EmployeeInfo.EmployeeName)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.EmployeeInfo.EmployeeAdress)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.EmployeeInfo.EmployeeAge)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.VehicleInfo.VehicleId)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.VehicleInfo.SeatAvailablity)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.RouteInfo.RouteId)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.RouteInfo.stop1)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.RouteInfo.stop2)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.EmployeeInfo.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeInfo.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeInfo.EmployeeAdress)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.EmployeeInfo.EmployeeAge)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.VehicleInfo.VehicleId)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.VehicleInfo.SeatAvailablity)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.RouteInfo.RouteId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteInfo.stop1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteInfo.stop2)
                    </td>

                    <td style="text-align:center">
                        <div class="editor">
                            <a asp-action="Edit" asp-route-id="@item.AllocatId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AllocatId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.AllocatId">Delete</a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>